* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.text-to-copy {
  color: red;
  cursor: pointer; 
  user-select: none;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}